@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-fundo: #0F0F0F;
    --cor-fundo-principal: #101010;
    --cor-gradiente: #1A1A1A;
    --cor-titulos: #F4F5F0;
    --cor-texto: #F2F0EB;
    --cor-destaque: #D61200;
    --cor-acao: #8d0801;

    --font-principal: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--font-principal);
    font-size: 1em;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6em;
}

header {
    padding: 0px 20px;
    background-color: var(--cor-acao);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

header p {
    font-size: 0.8em;
}

header img {
    width: 30px;
    margin-right: auto;
}

nav#menu ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav#menu a {
    text-decoration: none;
    color: var(--cor-texto);
    padding: 5px;
    border-radius: 8px;
    transition: background-color 0.5s;
}

nav#menu a:hover {
    background-color: var(--cor-destaque);
}

nav#menu span.texto {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-apresentacao {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imagens/introducao.jpg') top center no-repeat;
    background-size: cover;
    height: 250px;
}

.container-apresentacao h1 {
    font-size: 1.6em;
}

.container-apresentacao p {
    font-size: 0.9em;
    max-width: 340px;
}

.container-planos {
    background-color: var(--cor-fundo-principal);
    padding: 0px 20px;
}

.container-planos h2 {
    font-size: 1.4em;
    text-align: center;
    padding: 20px 0px;
}

.container-planos p {
    font-size: 0.9em;
}