@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-fundo: #0F0F0F;
    --cor-fundo-principal: #101010;
    --cor-gradiente: #1A1A1A;
    --cor-titulos: #E7E9E7;
    --cor-texto: #F0EEE9;
    --cor-hover: #D0D0DA;
    --cor-destaque: #D61200;
    --cor-acao: #8d0801;

    --font-principal: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: width 0.5s, height 0.5s;
}

body {
    font-family: var(--font-principal);
    font-size: 1em;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6em;
}

h2 {
    color: var(--cor-titulos);
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 0px; 
}

h3 {
    font-size: 1.1em;
    color: var(--cor-titulos);
    margin: 0px;
}

p {
    color: var(--cor-texto);
    font-size: 0.9em;
    margin: 0px;
}

ul {
    font-size: 0.9em;
}

header {
    padding: 0px 30px;
    background-color: var(--cor-acao);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 3;
}

header p {
    color: var(--cor-texto);
    font-size: 0.5em;
}

header img {
    width: 30px;
    margin-right: auto;
}

nav#menu ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav#menu a {
    text-decoration: none;
    color: var(--cor-texto);
    padding: 5px;
    border-radius: 8px;
    transition: background-color 0.5s;
}

nav#menu a:hover {
    background-color: var(--cor-destaque);
}

nav#menu span.texto {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container-apresentacao {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imagens/introducao.jpg') top center no-repeat;
    background-size: cover;
    height: 250px;
    padding: 0px 30px;
}

.container-apresentacao h1 {
    color: var(--cor-titulos);
    font-size: 1.6em;
}

.container-apresentacao p {
    max-width: 340px;
}

.container-planos {
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
    background-color: var(--cor-fundo-principal);
    padding: 30px;
}

.container-planos h2 {
    margin-bottom: 25px;
}

.container-planos p.centro {
    text-align: center;
}

.cards-planos {
    text-align: center;
    width: 300px;
    margin: auto;
}

.cards-planos .precos {
    background-color: var(--cor-acao);
    margin: 35px 0px;
    padding: 20px;
    min-height: 430px;
    border-radius: 20px;
    transition: background-color 0.5s, transform 0.5s;
}

.cards-planos h3, .cards-planos p {
    margin-top: 25px;
}

.cards-planos h3 {
    color: var(--cor-titulos);
    font-size: 1.8em;
}

.cards-planos p.maior {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--cor-titulos);
}

.cards-planos p.destaque {
    font-size: 1.6em;
    font-weight: bold;
    color: var(--cor-titulos);
}

.cards-planos a {
    display: block;
    font-size: 1.1em;
    color: var(--cor-texto);
    text-decoration: none;
    font-weight: bold;
    margin: 35px 0px;
    border-radius: 8px;
    transition: background-color 0.5s, color 0.5s;
}

.cards-planos a:hover {
    color: var(--cor-destaque);
    background-color: var(--cor-hover);
}

.cards-planos .precos:hover {
    transform: translate(0px, -2px);
}

.avisos {
    margin: auto;
    margin-top: 50px;
    background-color: var(--cor-gradiente);
    padding: 20px;
    border-radius: 20px;
    line-height: 1.8em;
    max-width: 1200px;
}

.avisos p {
    margin-top: 20px;
}

.container-conheca {
    background-color: var(--cor-fundo-principal);
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    max-width: 1200px;
}

.container-conheca h2 {
    text-align: left;
    margin: 25px 0px;
}

.container-conheca p {
    line-height: 1.8em;
}

.container-diferencas {
    background-color: var(--cor-fundo-principal);
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    max-width: 1200px;
}

.container-diferencas h2 {
    margin: 25px 0px;
}

.container-diferencas ul {
    padding: 20px;
}

.container-diferencas > ul > li {
    font-size: 0.9em;
    padding: 10px 0px;
}

.container-diferencas li {
    margin-bottom: 20px;
}

.container-diferencas p {
    line-height: 1.8em;
    padding-bottom: 20px;
}

.cards-profissionais {
    max-width: 400px;
    margin: auto;
}

.cards-profissionais .profissionais {
    background-color: var(--cor-acao);
    margin: 35px 0px;
    height: 550px;
    border-radius: 20px;
    transition: transform 0.5s;
}

.cards-profissionais .profissionais:hover {
    transform: translate(0px, -2px);
}

.cards-profissionais .profissionais img {
    border-radius: 20px 20px 0px 0px;
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.cards-profissionais .profissionais h3, .cards-profissionais p {
    margin-top: 15px;
}

.cards-profissionais h3 {
    text-align: center;
}

.cards-profissionais p {
    line-height: 1.8em;
    padding-left: 20px;
}

.container-imagens {
    background-color: var(--cor-fundo-principal);
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    max-width: 1500px;
}

.container-imagens h2 {
    margin: 25px 0px;
}

.container-imagens > .fotos > img {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 20px;
    max-width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.container-imagens > .fotos > img:hover {
    transform: translate(0px, -2px);
}

#informacoes {
    background-color: var(--cor-acao);
    text-align: center;
    padding: 25px 0px;
}

.container-informacoes h2 {
    margin: 20px 0px;
}

.container-informacoes h3 {
    margin: 20px 0px;
}

.container-informacoes .copyright {
    margin: 20px 0px;
    padding: 0px 20px;
}

.container-informacoes li {
    margin-top: 10px;
    list-style-type: none;
}

.container-informacoes li address {
    margin-top: 10px;
}

.container-informacoes > div > ul > li > a, .copyright a {
    color: var(--cor-texto);
    border-radius: 8px;
    padding: 2px 3px;
    transition: color 0.5s, background-color 0.5s;
}

.container-informacoes > div > ul > li > a:hover, .copyright a:hover {
    color: var(--cor-hover);
    background-color: var(--cor-destaque);
}

.container-informacoes li address a {
    color: var(--cor-texto);
    border-radius: 8px;
    padding: 2px 3px;
    transition: color 0.5s, background-color 0.5s;
}

.container-informacoes li address a:hover {
    color: var(--cor-hover);
    background-color: var(--cor-destaque);
}

.container-informacoes .social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-texto);
    padding: 5px;
    border-radius: 8px;
    transition: color 0.5s, background-color 0.5s;
}

.container-informacoes .social a:hover {
    color: var(--cor-hover);
    background-color: var(--cor-destaque);
}

.container-informacoes .social svg {
    font-size: 1.8em;
}

img.esquerda, img.direita {
    display: none;
}